/* variable declaration */
:root {
  --textbox-color: white;
  --doc-width: 50rem;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Page {
  background-color: white;
  width: var(--doc-width);
  height: 60rem;
}

.headerBox {
  border-color: var(--textbox-color);
  width: 45rem;
  height: 5em;
  margin-top: 2em;
  border:none;
}

.bodyBox {
  border-color: var(--textbox-color);
  width: 45rem;
  margin-top: 2em;
  height: 62em;
  border:none;
}

.footerBox {
  width: 45rem;
  margin-top: 2em;
  height: 4em;
  border-color: var(--textbox-color);
  border:none;
}

.navBar {
  width: 100%;
  height: 75%;
  margin-bottom: 0.5rem;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
}

.bannerContainer {
  width: 100%;
  height: 4em;
  margin-bottom: 0.5rem;
  background-color: #9ecdfe;
  display: flex;
  justify-content: center;
}

.navElement {
  background: tomato;
  padding: 10px;
  width: 110px;
  height: 60px;
  margin-top: 10px;
  /* line-height: 50px; */
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin-left: calc(var(--doc-width)/17);
  margin-right: calc(var(--doc-width)/17);
  border-radius: 0.2rem;
}

.richTextEdit {
  background: red;
  height: 47px;
  margin-top: 3em;
  width: 100%;
  position: absolute;
}

textarea { resize: none; overflow: hidden }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
